.taxonomies-main *{margin: 0; padding: 0, letter-spacing: 0;}
fieldset {padding: 1rem !important;}
fieldset input[type="text"] {border: none;padding: 0.60rem;border-radius: 0.2rem;width: 60%;box-shadow: 0 0 8px #ccc;}
fieldset label{ width: 39.95%; vertical-align: middle; display: inline-block; letter-spacing:0rem}
.button--filled.button--primary {border: none;background: #0f40fe;color: #fff;padding: 0rem;font-size: 1.6rem;border-radius: 0.2rem;width: 20rem;display: block;margin: 2rem auto 0;cursor: pointer;}
.button--filled.button--primary:hover {background: #6b9cff;}
.taxonomies-menu li {list-style: none;display: inline-block;vertical-align: middle;text-align: center;}
.taxonomies-menu li a{display: block; margin: auto;padding: 0.75rem; }
.description {width: 60%;display: inline-block;vertical-align: middle;}
.inner-ul-li {padding: 2rem;}
.inner-ul-li ul,.inner-ul-li ul li{ list-style: none;}
.pagination li span, .pagination li a {width: 2rem;text-align: center;padding: 0.5rem;}
.pagination-container {margin: 2rem 0 1rem;}
.the-items li {text-transform: capitalize;font-size: 1.4rem;padding: 0.5rem; position: relative; margin-bottom: 0.4rem;}
.the-items li:nth-child(2n+1){ background-color: #ccc;}
.the-items li:hover, .the-items li.beingedited { background-color: #fff;box-shadow: 0 0 3px 0px #004F00;}
.the-items li:nth-child(2n+1):hover{ background-color: #ccc;}
/* .the-items li:hover ::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%} */
.btn-button {display: inline-block;vertical-align: middle;border: none;margin-right: 0.5rem;padding: 0.3rem 2rem;border-radius: 0.2rem; cursor: pointer;box-shadow: 0px 0px 4px #3A3A3A;}
.tax-color {width: 1.5rem;height: 1.5rem;display: inline-block;vertical-align: middle;border-radius: 1rem;}
.the-items li a {display: block;text-decoration: none;color: #5687fc;}
.taxonomies-actions {display: block; width: 100%}
.theslug {position: absolute;right: 0;font-size: 0.8rem;text-transform: lowercase;color: #57575B;top: 0;z-index: 1;}
@media only screen and (min-width: 37.5em){
  .grid__column--6 {width: 50%;display: inline-block;vertical-align: top;}
  fieldset label {vertical-align: middle;display: inline-block;}
  .the-items li a {display: inline-block;vertical-align: middle; width: 60%}
  .taxonomies-actions {vertical-align: middle;display: inline-block; width: auto; z-index: 2}
}
@media only screen and (min-width: 56.25em){


}
